<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Tamas Bakos Movie Database</title>
</head>
<body>

  <h1>Welcome to My Movie Database</h1>
  <a href="/movies">Movie List</a>
  <h3>This is a REST API</h3>

  <h3>Active REST Endpoints</h3>
  <ul>
    <li>GET/api/v1/movies</li>
    <li>GET/api/v1/movies/{id}</li>
    <li>POST/api/v1/movies</li>
    <li>DELETE/api/v1/movies/{id}</li>
  </ul>

</body>
</html>